article.book{

    border-radius: 5px;
    padding: 3vh 3vw 1.5vh 3vw;

    @media(prefers-color-scheme: light){

        border-bottom: solid 2px $red;
        border-right: solid 2px $red;
        border-top: solid 1px $red;
        border-left: solid 1px $red;
        background-color: $almond;
        color: black;
        box-shadow: 4px 4px 4px 0 $red;
    }

    @media(prefers-color-scheme: dark){

        border-bottom: solid 2px $darkThemeRed;
        border-right: solid 2px $darkThemeRed;
        border-top: solid 1px $darkThemeRed;
        border-left: solid 1px $darkThemeRed;
        color: $almond;
        box-shadow: 4px 4px 4px 0 $darkThemeRed;
    }


    &>header{

        &>figure{

            max-width: 100%;

            &>img{

                border-radius: 5px;
                height: 40vh;
                width: 100%;

            }

            &>figcaption{

                display: none;
            }
        }

        &>h4{

            display: none;
        }
    }

    &>section{

        padding: .5vh;

        &>h4{

            font-size: 1.5rem;
            margin-bottom: 1vh;
            min-height: 12vh;
        }

        &>a{

            display: block;
            text-decoration: none;
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1vh;
            border-radius: 10px;
            padding: .5vh;

            @media(prefers-color-scheme: light){

                color: $red;
            }

            @media(prefers-color-scheme: dark){

                color: $darkThemeRed;
            }

            &>span{

                margin-left: 4%;
            }
        }

    }

    &>footer{

        padding: .5vh;

        &>a{

            display: block;
            text-decoration: none;
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            border-radius: 10px;
            padding: 1.5vh .5vw;
            margin-right: 0.2vw;

            @media(prefers-color-scheme: light){

                background-color: $red;
                color: $almond;
            }

            @media(prefers-color-scheme: dark){

                background-color: $darkThemeRed;
                color: $almond;
            }

            &>span{

                display: none;
                border-left: solid 2px $almond;
                padding-left: 0.2vw;
            }

            &:hover{

                &>span{

                    display: inline-block;
                }
            }
        }


        &>figure{

            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 2vh;


            &>img{

                max-width: 30%;
                border-radius: 50px;
                margin-right: 1vw;
            }

            &>figcaption{

                font-size: 1.3rem;
            }
        }
    }
}
/*

    <article class="book">
        <header>
            <figure>
                <img src="" alt="">
                <figcaption>Couverture du livre: "" de .</figcaption>
            </figure>
            <h4></h4>
        </header>
        <section>
            <h4></h4>
            <a href="">Détails<span class="fa-solid fa-arrow-down-short-wide"></span></a>
        </section>
        <footer>
            <a href="">Prix: <span>Ajouter au panier</span></a>
            <figure>
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
        </footer>
    </article>

*/