/******************** DISPLAY ********************/

.sr-only{
    
    display: none;
}



/******************** BODY ********************/

.body-mode{
    
    @media(prefers-color-scheme: light){
        
        background-color: $almond;
        color: $black;
    }
    
    @media(prefers-color-scheme: dark){
        
        background-color: $black;
        color: $almond;
    }
}

/******************** SECTIONS ********************/

/******************** SECTIONS ********************/

/******************** SECTIONS ********************/

/******************** SECTIONS ********************/

/******************** SECTIONS ********************/

/******************** SECTIONS ********************/