#home-page{

    &>main{

        display: grid;
        grid-template-columns: .1fr .8fr .1fr;


        &>section {

            grid-column: 2/3;
            height: 15vh;

            &:first-of-type{
                display:grid;
                grid-template-columns: 1fr 1fr;
                grid-column: 1/4;
            }
        }
    }
}